@import '~antd/es/style/themes/default.less';

.navi {
	width: 100%;
	height: 10%;
}

.ant-card-head {
		height: 10px;
	}

.container_box{
	width: 100%;
	height: 860px;
	.firstRow {
		width: 100%;
		height: 30%;
		margin-bottom: 1%;
		.firstRowCard{
			min-height: 240px;
		}
	}

	.secondRow {
		width: 100%;
		height: 30%;
		margin-bottom: 1%;
	}

	.thirdRow {
		width: 100%;
		height: 30%;
	}
}
