@import '~antd/es/style/themes/default.less';

.ant-card-head {
	height: 10px;
}

.container_box{
	width: 100%;
	height: 860px;
	padding-right: 2px;
	.eyebrow{
		width: 100%;
		height: 6%;
		padding: 10px;
		background: #fff;
		margin-bottom: 1%;
		.eyebrow_text{
			font-size: 16px;
			font-weight: bold;
		}
		.eyebrow_date{
			width: 90%;
			height: 100%;
			float: left;
			text-align: right;
			margin-right: 1%;
		}
		.eyebrow_longth{
			width: 8%;
			height: 100%;
			float: left;
			margin-left: 1%;
		}
	}
	.content_chart_box{
		width: 100%;
		height: 93%;
		padding-left: 1%;
		.title_box{
			padding: 0px 0px 0px 10px;
			border-left: solid 4px #ec4ca0;
			font-weight: bold;
		}
		.firstRow {
			width: 100%;
			height: 30%;
			margin-bottom: 20px;
			.firstRowCard{
				min-height: 230px;
			}
		}
		.secondRow {
			width: 100%;
			height: 39%;
			margin-bottom: 20px;
		}
		.thirdRow {
			width: 100%;
			height: 31%;
			.thirdRowCard{
			min-height: 180px;
			.area_title_box{
				float: left;
				.title_icon_box{
				float: left;
				height: 26px;
				width: 26px;
				background-color: #1890ff;
				border-radius: 13px;
				color: white;
				padding-top: 2px;
				text-align: center;
				}
				.title_text_box{
				padding-top: 2px;
				padding-left: 8px;
				float: left;
				font-weight: bold;
				}
			}
			.area_content_box{
				float: left;
				min-height: 150px;
				.content_box{
				float: left;
				width: 50%;
				height: 22%;
				font-size: 12px;
				min-height: 30px;
				padding-top: 8px;
				border-bottom: solid 1px #f0f0f0;
				}
				.content_big_box{
				float: left;
				width: 100%;
				height: 22%;
				font-size: 12px;
				min-height: 30px;
				padding-top: 8px;
				border-bottom: solid 1px #f0f0f0;
				}
				.content_light_box{
				float: left;
				width: 50%;
				height: 22%;
				min-height: 30px;
				padding-top: 8px;
				font-size: 12px;
				}
			}
			}
		}
	}
}
